@model CommentForm.Models.CommentFormViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentForms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Procedure.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentForms.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentForms.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentForms.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentForms.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentForms.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentForms.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Procedure.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure.Details)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentForms.CommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
